<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      <style>
        table, td, th {
          border: 1px solid black;
          border-collapse: collapse;
          text-align: left;
          border: 1px solid black;
        }

        tr:nth-child(odd), .promotion:nth-child(even) {
          background-color: #eee;
          border-collapse: collapse;
        }
      </style>
  </head>
  <body>
    <h1>Welcome to Sports DealNotifier!</h1>
    <p>You have successfully signed up with: <%= params[:email] %>.</p>
    <p>By default based on your location, your local teams are as follows:</p>
    <table style="width:100%">
      <% defaulted_promotions(params[:user]).each do |league, teams| %>
        <tr>
          <th>League</th>
          <th>Team</th>
          <th>Promotion Name</th>
        </tr>
        <tr>
          <td>
            <b><%= league.upcase %></b>
          </td>
          <% teams.each do |team, promotions| %>
            <td>
              <%= team.upcase %>
            </td>
            <td>
            <table>
              <% promotions.each do |promotion| %>
                <tr>
                  <div class=promotion><%= promotion %></div>
                </tr>
              <% end %>
            </table>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <p>You can modify your local teams to receive more accurate promotion notifications by here. POST-MVP-GOAL</p>
  </body>
</html>
