<div class="flex items-center justify-center space-x-4">
  <%= link_to(render_badge(text: image_tag("github.svg", size: "20"), variant: 'ghost'), "https://github.com/kalmai", target: :_blank, class: "h-[20px] w-auto flex items-center justify-center") %>
  <%= link_to(render_badge(text: image_tag("blog.svg", size: "20"), variant: 'ghost'), "https://kalmai.github.io/portfolio/", target: :_blank, class: "h-[20px] w-auto flex items-center justify-center") %>
  <%= link_to(render_badge(text: image_tag("linkedin.svg", size: "20"), variant: 'ghost'), "https://www.linkedin.com/in/zachary-kolker/", target: :_blank, class: "h-[20px] w-auto flex items-center justify-center") %>
  <%= link_to(render_badge(text: image_tag("envelope-at-fill.svg", size: "20"), variant: 'ghost'), "mailto:zacharykolker93@gmail.com", target: :_blank, class: "h-[20px] w-auto flex items-center justify-center") %>
</div>
