default: &default
  update_games:
    schedule: "*/5 * * * *" # every five minutes
    class: Interactor::UpdateGamesJob
  store_games:
    schedule: 0 * * * *
    class: Interactor::StoreGamesJob
  clean_up_old_games:
    schedule: 0 * * * WED
    class: CleanUpOldGames
  actionable_promotion:
    schedule: 0 * * * *
    class: Notify::ActionablePromotionJob
  time_sensitive:
    schedule: 30 16 * * * # 16:30 UTC
    class: Notify::TimeSensitiveJob

development:
  <<: *default
production:
  <<: *default
